doctype html
html
	head
		link(rel="stylesheet", href="css/style.css")
		meta(charset="utf-8")
	body
		.email-container
			.email-header
				.email-center
					a.email-logo(href="//website.com")
						img(src="img/logo.ico", alt="logo")
					
					.email-header-top
						h1.
							Cinemax
						h3.
							Premiers of this week
					a(href="#").email-button Read more 
			.email-content
				.email-elements-wrap
					.email-element
						a(href="#")
							img(src="img/items/film_1.jpg", alt="alt")
						a(href="#").element-head Inferno
						.element-subhead Director: Ron Howard
						.element-article When Robert Langdon wakes up in an Italian hospital with amnesia, he teams up with Dr. Sienna Brooks, and together they must race across Europe against the clock to foil a deadly global plot.
						button.element-buy Buy ticket
					.email-element
						a(href="#")
							img(src="img/items/film_2.jpg", alt="alt")
						a(href="#").element-head I.T.
						.element-subhead Director: John Moore
						.element-article Mike Regan has everything he could ever want, a beautiful family and a top of the line smart house. The company he owns is on the verge of changing flight leasing forever. That is, until ...
						button.element-buy Buy ticket
					.email-element
						a(href="#")
							img(src="img/items/film_3.jpg", alt="alt")
						a(href="#").element-head Doctor Strange
						.element-subhead Director: Scott Derrickson
						.element-article A neurosurgeon with a destroyed career sets out to repair his hands only to find himself protecting the world from inter-dimensional threats.
						button.element-buy Buy ticket
					.email-element
						a(href="#")
							img(src="img/items/film_4.jpg", alt="alt")
						a(href="#").element-head Fantastic Beasts
						.element-subhead Director: David Yates
						.element-article The adventures of writer Newt Scamander in New York's secret community of witches and wizards seventy years before Harry Potter reads his book in school.
						button.element-buy Buy ticket
		.email-footer.
			<a href="#">CINEMAX</a>	&nbsp&nbsp&nbsp<a href="#"> Отказаться от рассылки</a>